    <div class="layui-card-body" id="alert_form">
    <form class="layui-form" action="" lay-filter="alert">
            <div class="layui-form-item">
        <label class="layui-form-label">项目名称</label>
        <div class="layui-input-block">
            <input type="text" name="project_name" value="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">标签</label>
        <div class="layui-input-block">
            <input type="text" name="tag" value="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">项目封面图</label>
        <div class="layui-input-block">
            <input type="text" name="cover" value="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">项目路径</label>
        <div class="layui-input-block">
            <input type="text" name="path" value="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">会员id</label>
        <div class="layui-input-block">
            <input type="text" name="member_id" value="" autocomplete="off" class="layui-input">
        </div>
    </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="save">保存</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
    </div>
    <script>
        //监听提交
        form.on('submit(save)', function (obj) {
            var post = obj.field;
            submitPost('{:url("admin/project/add")}', post);
        });
    </script>