<div class="layui-card-body" id="alert_form" style="height: 380px">
    <form class="layui-form" action="" lay-filter="alert">
        <div class="layui-form-item">
            <label class="layui-form-label">项目名称</label>
            <div class="layui-input-block">
                <input type="text" name="project_name" value="{$data.project_name|default=''}" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">所属用户</label>
            <div class="layui-input-inline">
                <select name="member_id" lay-verify="required">
                    <option value="0">张三</option>
                    <option value="1">李四</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">标签</label>
            <div class="layui-input-block">
                <input type="text" name="tag" value="{$data.tag|default=''}" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">项目封面图</label>
            <div class="layui-input-block">
                <span id="fengmian"><img src="__STATIC__{$data.cover|default=''}" width="80" height="80"></span>
                <a class="layui-btn" id="sc">上传封面</a>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">项目路径</label>
            <div class="layui-input-block">
                <input type="text" name="path" value="{$data.path|default=''}" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="save">保存</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script>
    layui.use(['form','table','upload'], function() {
        var upload = layui.upload;
        var cover = "{$data.cover|default=''}";

        //监听提交
        form.on('submit(save)', function (obj) {
            if(cover == ''){
                layer.msg('请上传项目封面', {icon: 2, time: 2000});
                return false;
            }
            var post = obj.field;
            $.ajax({
                type: 'POST',
                url: '{:url("admin/Project/save")}',
                dataType: 'json',
                data: {
                    post:post,
                    cover: cover,
                    id: "{$data.id|default=''}"
                },
                success: function (data) {
                    if (data.code == 0) {
                        layer.msg(data.msg, {icon: 1, time: 2000}, function () {
                            layer.closeAll();
                            search(curr_page);
                        })
                    } else {
                        layer.msg(data.msg, {icon: 2, time: 2000})
                    }
                },
                error: function (jqXHR) {
                    layer.alert('提交失败');
                }
            });
            return false;
        });

        //上传图片
        upload.render({
            elem: '#sc',
            url: "{:url('/admin/project/upload')}"
            , before: function (obj) {
                layer.load(); //上传loading
            }
            , done: function (res) {
                //如果上传失败
                if (res.code == 0) {
                    layer.closeAll('loading');
                    cover = res.data;
                    $('#fengmian').html('<img src="__STATIC__'+res.data+'" width="80" height="80">');
                } else {
                    return layer.msg(res.msg);
                }
            }
            , error: function () {
                return layer.msg('上传错误');
            }
        });
    })
</script>