{include file="admin@public/header" /}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">编辑{$data.project_name}</div>
                <div class="layui-card-body" id="alert_form">
                    <form class="layui-form" action="" lay-filter="alert">
                        <div class="layui-form-item">
                            <label class="layui-form-label">项目名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="project_name" value="{$data.project_name|default=''}" autocomplete="off" lay-verify="required" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">所属会员</label>
                            <div class="layui-input-inline">
                                <select name="member_id" lay-verify="required" lay-search="">
                                    <option value="">直接选择或搜索选择</option>
                                    {volist name="memberList" id="vo"}
                                    <option value="{$vo.id}" {if condition="$data and ($data.member_id eq $vo.id)"} selected{/if} >{$vo.member_name}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">标签</label>
                            <div class="layui-input-block">
                                <input type="text" name="tag" value="{$data.tag|default=''}" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">项目封面图</label>
                            <div class="layui-input-block">
                                <span id="fengmian"><img src="__STATIC__{$data.cover|default='/admin/images/default.jpg'}" width="80" height="80"></span>
                                <a class="layui-btn" id="sc">上传封面</a>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">项目路径</label>
                            <div class="layui-input-block">
                                <input type="text" name="path" value="{$data.path|default=''}" autocomplete="off" lay-verify="required" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="save">保存</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['form','table','upload'], function() {
        var upload = layui.upload;
        var cover = "{$data.cover|default=''}";

        //监听提交
        form.on('submit(save)', function (obj) {
            var post = obj.field;
            post.id = "{$data.id|default=''}";
            post.cover = cover;
            delete post.file;
            submitPost('{:url("admin/project/add")}', post);
            return false;
        });


        //上传图片
        upload.render({
            elem: '#sc',
            url: "{:url('/admin/project/upload')}"
            , before: function (obj) {
                layer.load(); //上传loading
            }
            , done: function (res) {
                //如果上传失败
                if (res.code == 0) {
                    layer.closeAll('loading');
                    cover = res.data;
                    $('#fengmian').html('<img src="__STATIC__'+res.data+'" width="80" height="80">');
                } else {
                    return layer.msg(res.msg);
                }
            }
            , error: function () {
                return layer.msg('上传错误');
            }
        });
    })
</script>
