{include file="admin@public/header" /}
<style type="text/css">
    .layui-table-cell{
        height: auto;
    }
</style>
<body>
<div class="layui-fluid">
    <!--<div class="layui-row">-->
        <div class="layui-card" id="table">
            <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                <!-- 功能按钮。注意代码，两个button间不能空格 -->
                <!--<div class="btn-content">-->
                    <!--<div class="layui-btn-group">-->
                        <!--<button class="layui-btn layui-btn-primary layui-btn-sm add">新增</button>-->
                    <!--</div>-->
                <!--</div>-->

                <!-- 筛选区 -->
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">项目名</label>
                        <div class="layui-input-block"><input type="text" class="layui-input" id="project_name" name="project_name" placeholder="项目名"></div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">会员名</label>
                        <div class="layui-input-block"><input type="text" class="layui-input" id="member_name" name="member_name" placeholder="会员名"></div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">创建日期</label>
                        <div class="layui-input-block"><input type="text" class="layui-input" id="create_time" name="project_name" placeholder="开始日期 - 结束日期"></div>
                    </div>
                    <!--<div class="search-input-group">-->
                        <!--<select name="search_type" id="search_type">-->
                            <!--<option value="0">搜项目名</option>-->
                            <!--<option value="1">搜会员名</option>-->
                        <!--</select><input type="text" class="layui-input-inline layui-input" id="keyword" name="keyword">-->
                    <!--</div>-->
                    <div class="layui-inline">
                        <button class="layui-btn" data-type="search">
                            <i class="layui-icon layui-icon-search"></i>
                        </button>
                        <!--<button class="layui-btn layui-btn search" onclick="search(1)"><i class="layui-icon layui-icon-search layuiadmin-button-btn"></i></button>-->
                    </div>
                </div>

            </div>
            <div class="layui-card-body">
                <div>
                    <button class="layui-btn" data-type="del">删除</button>
                    <button class="layui-btn" data-type="add">添加</button>
                </div>
                <table class="layui-table" id="test" lay-filter="test"></table>
            </div>
        </div>
    <!--</div>-->
</div>
<script type="text/html" id="thumbTpl">
    {{#  if(d.cover){ }}
    <img src="__STATIC__{{d.cover}}?v=1" width="60" height="60">
    {{#  } else { }}
    <img src="__STATIC__/admin/images/default.jpg" width="60" height="60">
    {{#  } }}
</script>
<script type="text/html" id="userTpl">
    <i class="layui-icon layui-icon-username"></i>{{d.member_name}}
</script>
<script type="text/html" id="optTpl">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/javascript">
    var curr_page = 1;
    layui.use(['laydate', 'table'], function() {
        var laydate = layui.laydate;
        var table = layui.table;

        //日期范围
        laydate.render({
            elem: '#create_time', range: true
        });

        table.render({
            elem: '#test'
            ,toolbar: '#toolbar'
            ,url: '/admin/project/lists'
            ,page: true //开启分页
            ,cols: [[ //表头
                {type:'checkbox'}
                ,{field: 'id', title: 'ID', width:60}
                ,{field: 'cover', title: '封面', width:80, templet: '#thumbTpl'}
                ,{field: 'project_name', title: '项目名称', width:250}
                ,{field: 'path', title: '项目路径'}
                ,{field: 'member_name', title: '所属会员', templet: '#userTpl', width:120}
                ,{field: 'tag', title: '标签', width:80}
                ,{field: 'create_time', title: '创建时间', width:155}
                ,{fixed: 'right', title:'操作', toolbar: '#optTpl', width:150}
            ]],
            done: function (res, curr, count) {
                curr_page = curr;
            }
        });

        $('.layui-btn').click(function () {
            var type = $(this).data('type');
            if(type == 'add'){
                edit("{:url('/admin/project/add')}", '新增项目');
            } else if(type == 'del'){
                console.log('删除')
            } else if(type == 'search'){
                var create_time = $('#create_time').val();
                var project_name = $('#project_name').val();
                var member_name = $('#member_name').val();
                table.reload('test', {page: {curr: curr_page}, where: {project_name:project_name, create_time:create_time, member_name:member_name}});
            }
        });

        //监听行工具事件
        table.on('tool(test)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                deleted("{:url('admin/project/delete')}", obj)
            } else if(obj.event === 'edit'){
                edit("{:url('/admin/project/edit/id/"+ data.id +"')}", '编辑' + data.project_name);
            }
        });
    });
</script>
</body>
</html>
