{include file="admin@public/header" /}
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-card" id="table">
            <div class="layui-card-form layui-clear">
                <!-- 功能按钮。注意代码，两个button间不能空格 -->
                <div class="btn-content">
                    <div class="layui-btn-group">
                        <button class="layui-btn layui-btn-primary layui-btn-sm add">新增</button>
                    </div>
                </div>
                <!-- 筛选区 -->
                <div class="search-content">
                    会员名
                    <div class="layui-inline">
                        <input class="layui-input" name="keyword" id="keyword" autocomplete="off">
                    </div>
                    <button class="layui-btn layui-btn-sm search" onclick="search(1)">确定</button>
                </div>
            </div>
            <div class="layui-card-body">
                <table class="layui-table" id="test" lay-filter="test"></table>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="optTpl">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/javascript">
    var curr_page;
    //搜索
    function search(curr) {
        var keyword = $('#keyword').val();
        //执行重载
        table.reload('test', {page: {curr: curr}, where: {keyword:keyword}});
    }

    layui.use(['laydate', 'table'], function() {
        var table = layui.table;

        table.render({
            elem: '#test'
            ,url: '/admin/Member/getList'
            ,page: true //开启分页
            ,cols: [[ //表头
                {field: 'id', title: 'ID', width:60}
                ,{field: 'member_name', title: '会员名称', width:200}
                ,{field: 'phone', title: '联系电话', width:250}
                ,{field: 'email', title: '邮箱'}
                ,{field: 'address', title: '联系地址'}
                ,{field: 'create_time', title: '创建时间', width:155}
                ,{fixed: 'right', title:'操作', toolbar: '#optTpl', width:150}
            ]],
            done: function (res, curr, count) {
                curr_page = curr;
            }
        });

        //新增
        $("#table .add").click(function () {
            edit("{:url('/admin/Member/add')}", '新增会员');
        });

        //监听行工具事件
        table.on('tool(test)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                deleted("{:url('admin/Member/delete')}", obj)
            } else if(obj.event === 'edit'){
                edit("{:url('/admin/Member/add/id/"+ data.id +"')}", '编辑' + data.member_name);
            }
        });
    });
</script>
</body>
</html>