{include file="admin@public/header" /}
<body>
<div class="layui-fluid">
    <div class="layui-card" id="table">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <!-- 筛选区 -->
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">标题名称</label>
                    <div class="layui-input-block"><input type="text" class="layui-input" id="title" name="title" placeholder="标题名称"></div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn" onclick="search(1)">
                        <i class="layui-icon layui-icon-search"></i>
                    </button>
                </div>
            </div>

        </div>
        <div class="layui-card-body">
            <div>
                <button class="layui-btn" data-type="del">删除</button>
                <button class="layui-btn" data-type="add">添加</button>
            </div>
            <table class="layui-table" id="test" lay-filter="test"></table>
        </div>
    </div>
</div>
<script type="text/html" id="optTpl">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="urlTpl">
    xxx/id/{{d.id}}
</script>
<script type="text/javascript">
    var curr_page = 1;
    //搜索
    function search(curr) {
        var title = $('#title').val();
        //执行重载
        table.reload('test', {page: {curr: curr}, where: { title:title}});
    }

    layui.use(['laydate', 'table'], function() {
        var table = layui.table;

        table.render({
            elem: '#test'
            ,url: '/admin/projectview/lists'
            ,page: true //开启分页
            ,cols: [[ //表头
                {type:'checkbox'}
                ,{field: 'id', title: 'ID', width:60}
                ,{field: 'title', title: '标题名称', width:250}
                ,{field: 'member_id', title: '会员', width:150}
                ,{field: 'project_ids', title: '项目'}
                ,{field: 'url', title: '页面地址', toolbar: '#urlTpl'}
                ,{field: 'create_time', title: '创建时间', width:155}
                ,{fixed: 'right', title:'操作', toolbar: '#optTpl', width:150}
            ]],
            done: function (res, curr, count) {
                curr_page = curr;
            }
        });

        $('.layui-btn').click(function () {
            var type = $(this).data('type');
            if(type == 'add'){
                edit("{:url('/admin/projectview/add')}", '新增项目');
            } else if(type == 'del'){
                console.log('删除')
            }
        });

        //监听行工具事件
        table.on('tool(test)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                deleted("{:url('admin/projectview/delete')}", obj)
            } else if(obj.event === 'edit'){
                edit("{:url('/admin/projectview/edit/id/"+ data.id +"')}", '编辑' + data.title);
            }
        });
    });
</script>
</body>
</html>
